<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аунтификация</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="custom/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="custom/css/style.css">
    <link rel="stylesheet" href="dist/css/adminlte.css">
</head>
<body>

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="custom/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/registration" class="signup-image-link">Зарегайся</a>
                </div>

                <div class="signin-form">
                    <p style="color: red; font-size: 18px">{% if errorMessage is not empty %}{{errorMessage}}{%endif%}</p>
                    <h2 class="form-title">Вход</h2>
                    <form method="post" class="register-form" id="login-form" action="/login">
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" id="your_name" placeholder="Твоя почта"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_pass" placeholder="Пароль"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Сохраняемся</label>
                        </div>
                        <div class="form-group form-button">
                            <button class="form-control btn-primary">Вход</button>
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Или войди с помощью</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="custom/vendor/jquery/jquery.min.js"></script>
<script src="custom/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>