<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аунтификация</title>


    <link rel="stylesheet" href="custom/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="custom/css/style.css">
</head>
<body>

<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <p style="color: red; font-size: 18px">{% if errorMessage is not empty %}{{errorMessage}}{%endif%}</p>
                    <h2 class="form-title">Добро пожаловать</h2>
                    <form method="POST" class="register-form" id="register-form" action="/registration">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" value="{{name}}" placeholder="Как тебя звать"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="username" id="email" value="{{username}}" placeholder="Скажи свою почту"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass" placeholder="А пароль?"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="passwordConfirm" id="re_pass" placeholder="Слабо повторить"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Жми сюда, и бла, бла, бла...</label>
                        </div>
                        <div class="form-group form-button">
                            <button>Кликай и погнали</button>
<!--                            <input type="submit" name="signup" id="signup" class="form-submit" value="Кликай и погнали"/>-->
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="custom/images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">У меня есть аккаунт</a>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="custom/vendor/jquery/jquery.min.js"></script>
<script src="custom/js/main.js"></script>
</body>
</html>