<!doctype html>
<html lang="en" data-lt-installed="true" style="height: auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdminLTE 3 | Blank Page</title>
    {% include "fragments/style" %}
</head>
<body class="sidebar-collapse" style="height: auto;">

<div class="wrapper">
    {% include "fragments/nav" %}
    <div class="content-wrapper" style="min-height: 326px;">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Какойто заголовок</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">аптека</a></li>
                            <li class="breadcrumb-item"><a href="#">улица</a></li>
                            <li class="breadcrumb-item active">фонарь</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
                {% block content %}

                {% endblock %}

        </section>
    </div>
    {% include "fragments/footer" %}
</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script src="/plugins/dropzone/min/dropzone.min.js"></script>
{% block script %}

{% endblock %}

</body>
</html>