<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Blank Page</title>
    <th:block th:replace ="fragments/head :: head"/>
</head>
<body class="sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">
    <th:block th:insert="fragments/nav :: nav"/>
    <div class="content-wrapper">
        <div class="content-header">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Здесь должно быть что-то</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"th:each="url : ${#strings.arraySplit(url, '/')}">
                                <a th:style="${url == currentUrl} ? 'cursor:default' : ''" th:href="${url != currentUrl} ? '/'+${url} : '#'" th:classappend="${url == currentUrl} ? 'text-dark text-bold' : ''" th:text="${list.get('/'+url)}"></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <section class="content">
            <th:block layout:fragment="content"/>
        </section>
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 1
        </div>
        <strong>Best application</strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script src="/plugins/dropzone/min/dropzone.min.js"></script>

<th:block layout:fragment="script"></th:block>
</body>
</html>