<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Создание списка на месяц</h3>
                </div>
                <div class="card-body">
<!--                    <form th:action="@{/finance/create-list/add}" th:object="${monthListProduct}" method="post">-->
<!--                        <input type="date" class="form-control form-control-sm">-->
<!--                        <input class="form-control form-control-sm" type="text" th:each="product : ${products}"-->
<!--                               th:field="*{product}">-->
<!--                    </form>-->

                    <hr>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Названия</td>
                            <td>Действие</td>
                        </tr>
                        </thead>
                        <tbody>
                            <form th:action="@{/finance/create-list/add}" th:object="${monthListProduct}" method="post">
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.id}"></td>
                                    <td th:text="${product.name}"></td>
                                    <td class="text-center col-1">
                                        <input type="text" th:field="*{product}" th:value="${product.id}" >
                                        <input type="checkbox" th:checked="*{isUse}">
                                    </td>
                                </tr>
                                <input type="submit" va>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>