<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Катергории</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/finance/category/add}" th:object="${productCategory}" method="post">
                        <div class="row">
                            <div class="col-8">
                                <label>Названия</label>
                                <input type="text" class="form-control form-control-sm" th:field="*{name}">
                            </div>
                            <div class="col-4">
                                <label>Сохранить</label>
                                <input type="submit" class="form-control form-control-sm" value="Сохранить">
                            </div>
                        </div>
                    </form>
                    <hr>
                    <table class="table table-bordered table-sm table-responsive">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Названия</td>
                            <td>Действие</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categoryList}">
                            <td class="col-1" th:text="${category.id}"></td>
                            <td class="col-1" th:text="${category.name}"></td>
                            <td class="text-center">
                                <a th:href="'path/edit/'+${category.id}" class="btn-sm btn btn-outline-info">Редактировать</a>
                                <a th:href="'/finance/category/delete/'+${category.id}" class="btn-sm btn btn-outline-danger">Удалить</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-gray-dark">
                <div class="card-header">
                    <h3 class="card-title">Продукты</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/finance/product/add}" th:object="${product}" method="post">
                        <div class="row">
                            <div class="col-3">
                                <label>Названия</label>
                                <input type="text" class="form-control form-control-sm" th:field="*{name}">
                            </div>

                            <div class="col-3">
                                <label>Сума</label>
                                <input type="text" class="form-control form-control-sm" th:field="*{price}">
                            </div>

                            <div class="col-3">
                                <label>Категория</label>
                                <select th:field="*{category}" class="form-control form-control-sm">
                                    <option value="0">Выберите</option>
                                    <option th:each="i : ${categoryList}" th:value="${i.id}"
                                            th:text="${i.name}"></option>
                                </select>
                            </div>

                            <div class="col-3">
                                <label>Действие</label>
                                <input type="submit" class="form-control form-control-sm" value="Сохранить">
                            </div>
                        </div>
                    </form>

                    <hr>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Названия</td>
                            <td>Сума</td>
                            <td>Категория</td>
                            <td>Действие</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${productList}">
                            <td class="col-1" th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.category.name}"></td>
                            <td class="text-center">
                                <a th:href="'/finance/edit/'+${product.id}" class="btn-sm btn btn-outline-info">Редактировать</a>
                                <a th:href="'/finance/product/delete/'+${product.id}" class="btn-sm btn btn-outline-danger">Удалить</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>