<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">


    <div class="btn-group">
        <a href="/gallery/list" class="btn btn-info">Список</a>
        <a href="/gallery" class="btn btn-info">Загрузка</a>
        <a href="#" class="btn btn-info">Запас</a>
    </div>


    <hr>

    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Список</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4" th:each="file : ${fil}">
                        <a href="#" >[[${file.getOriginName()}]]
                        <img th:src="'http://localhost:8080/gallery/files/' + ${file.getGenerateName()}" width="50" height="50">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>