<aside th:fragment="aside" class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" th:each="path : ${settings}" >
                    <a th:href="${path.path}" th:title="${path.title}"  class="nav-link">
                        <i class="nav-icon far fa-circle" th:style="'color:' + ${path.color}"></i>
                        <p  th:text="${path.name}"></p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>