{% extends "layout/layout" %}
{% block content %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Тема светлая нужно будет сделать с возможностью выбрать</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Наименование товара</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </div>

            <div class="col-1">
                <div class="form-group"><label>Опубликовать</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mt-1">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3"></label>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <label>Цена</label>
                <input type="number" class="form-control" placeholder="">
            </div>

            <div class="col-1">
                <label>Скидка</label>
                <input type="number" class="form-control" placeholder="">
            </div>

            <div class="col-5">
                <label>Описание товара</label>
                <textarea type="number" class="form-control" placeholder=""></textarea>
            </div>
        </div>

        <div class="row">

            <div class="col-3">
                <div class="row">

                    <div class="col-11">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" value="34">
                            <label class="custom-file-label" for="customFile">Выбрать файл</label>
                        </div>

                    </div>

                    <div class="col-1 mt2">
                        <i class=" plus nav-icon fas fa-plus text-success mt-2"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        Добавление товара
    </div>
</div>

<style>
    .plus {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block script %}
<script>
    $(".plus").on("click", function () {
        $(this).parent(".row").append($(this).parent(".row").clone())
    })
</script>
{% endblock %}

