<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl">
        Launch Extra Large Modal
    </button>

    <br>


    <div class="row">
        <div class="col-lg-1 col-2" th:each="note : ${notes}">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h5 class="cut-text" th:text="${note.getHeader()}" th:title="${note.getHeader()}"></h5>

                    <p class="cut-text" th:text="${note.getContent()}"></p>
                </div>
                <a th:href="${'/notebook/get/'+ note.id}" class="small-box-footer">More info <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <style>
        .cut-text p {
            width: 120px;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .cut-text {
            width: 100px;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>

    <div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form th:action="@{/notebook}" th:object="${notebook}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <input type="text" class="form-control form-control-sm" th:field="*{header}">
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
<!--                        <textarea style=" width: 100%; height: 300px; box-sizing: border-box;"-->
<!--                                      type="text" class="form-control form-control-sm" th:field="*{content}"></textarea>-->

                        <textarea id="summernote" style="display: none" th:field="*{content}"></textarea>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <script>

        $(function () {
            // Summernote
            $('#summernote').summernote(
                {
                    height: 300,
                    focus: true
                }
            )

            // // CodeMirror
            // CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
            //     mode: "htmlmixed",
            //     theme: "monokai"
            // });
        })

    </script>
</th:block>

